// titulos y textos

// Titulo
$titulo: normal 2rem "helveticaBold", sans-serif;
// subtitulo
$subtitulo: normal 2rem "manrope", sans-serif;
// texto principal
$textoPrincipal: normal 1.1rem "helveticaMed", sans-serif;
// texto menu
$textoMenu: normal 0.8rem "helvetica", sans-serif;
// textoSecundario
$textoSecundario: normal 1.125rem "helvetica", sans-serif;

// colores

$colorTextoPrincipal: #eee9e9;
$colorTextoSecundario: #785eeb;
$colorTextoMenuHover: #6cd3ff;
$colorTextoBoton: #8c72ff;
$colorBackground: #15083e;
