@import "../utilities/variables";
@import "../utilities/mixins";

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px 7%;

  .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 2fr 1fr;
    grid-template-areas:
      "nombre mail"
      "asunto asunto"
      "mensaje mensaje"
      "boton boton";
    width: 60%;
    gap: 20px;
    margin-top: 25px;

    .formNombre {
      grid-area: nombre;
      background-color: transparent;
      border-bottom: 1.5px solid #05ebf7;
      height: 50px;

      &::placeholder {
        color: white;
        font-style: italic;
      }
    }
    .formMail {
      grid-area: mail;
      background-color: transparent;
      border-bottom: 1.5px solid #05ebf7;
      height: 50px;
      &::placeholder {
        color: white;
        font-style: italic;
      }
    }
    .formAsunto {
      grid-area: asunto;
      background-color: transparent;
      border-bottom: 1.5px solid #05ebf7;
      height: 50px;
      &::placeholder {
        color: white;
        font-style: italic;
      }
    }
    .formMensaje {
      grid-area: mensaje;
      background-color: transparent;
      border-bottom: 1.5px solid #05ebf7;
      height: 100px;
      &::placeholder {
        color: white;
        font-style: italic;
      }
    }
    .formBoton {
      grid-area: boton;
      justify-self: center;
      background-color: transparent;
      border-bottom: 1.5px solid #05ebf7;
    }
  }
}
