@import "../utilities/variables";
@import "../utilities/mixins";

footer {
  // margin: 0px 0 1% 2%;
  background-image: url(../../../public/images/background-footer-png.png);
  background-size: cover;
  margin-bottom: 20px;
  min-width: 100%;
  min-height: 250px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  column-gap: 5%;
  padding: 0 10%;

  .contenedorLogoRedes {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 22%;
    font: $textoMenu;
    color: white;
    font-size: 0.7rem;

    .footerLogo {
      width: 40%;
      margin-bottom: 15px;
    }

    .FooterTexto {
      margin-bottom: 15px;
    }
    .footerRedes {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      width: 100%;
      margin-bottom: 15px;
      column-gap: 3%;
      font-size: 0.7rem;

      .footerRedesSociales {
        font-size: 0.7rem;
      }
    }
  }
  .footerMenu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font: $textoMenu;
    color: white;
    font-size: 0.7rem;

    .footerMenuTitulo {
      font-size: 0.7rem;
      margin-bottom: 8px;
    }
    ul {
      display: flex;
      flex-direction: column;
      row-gap: 5px;
    }
  }
  .FooterPrivacy {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font: $textoMenu;
    color: white;
    font-size: 0.7rem;

    .footerPrivacyTitulo {
      font-size: 0.7rem;
      margin-bottom: 8px;
    }
    ul {
      display: flex;
      flex-direction: column;
      row-gap: 5px;
    }
  }
  .footerAdress {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font: $textoMenu;
    color: white;
    font-size: 0.7rem;

    .footerAdressTitulo {
      font-size: 0.7rem;
      margin-bottom: 8px;
    }
    .footerAdressTexto {
      display: flex;
      flex-direction: column;
      margin-bottom: 9px;
    }
  }
}
