@import "../utilities/variables";
@import "../utilities/mixins";

.navbarSection {
  background-image: url(../../../public/images/303_2.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  background-attachment: fixed;

  .navBarContainer {
    // position: fixed;
    // width: 100%;
    // z-index: 1000;
    .navBar {
      position: fixed;
      width: 100%;
      z-index: 2000;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin: 0% 0px 2% 0px;
      img {
        width: 15%;
        height: auto;
        margin-left: 7%;
      }
      nav ul {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-start;
        width: 100%;

        li {
          position: relative;
          margin: 0px 5%;
          color: $colorTextoPrincipal;
          display: flex;
          flex-direction: column;
          align-items: center;
          font: $textoMenu;

          &:hover {
            color: $colorTextoMenuHover;
          }

          &::after {
            content: "";
            position: absolute;
            bottom: -10px;
            left: 30%;
            right: 30%;
            height: 30%;
            border-radius: 50%;
            background-color: $colorTextoMenuHover;
            @include scaleX(0);
            transition: transform 0.1s ease-in;
          }
          &:hover::after {
            @include scaleX(20%);
          }
        }
      }
      div {
        margin-right: 7%;
      }
    }
  }
}
