@import "../utilities/variables";
@import "../utilities/mixins";

.sectionFive {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 7% 7%;
  height: 450px;
  max-height: 500px;
  align-items: center;
  .sectionFiveContenedorImagenes {
    width: 80%;
    position: relative;
    margin: 0 5%;
    align-self: center;
    .contenedorImagenesSectionFiveImgOne {
      width: 85%;
      height: auto;
      position: relative;
      z-index: 1;
      top: 0%;
      left: 10%;
    }
    // .contenedorImagenesSectionFiveImgTwo {
    //   position: absolute;
    //   width: 50%;
    //   top: 15%;
    //   left: 25%;
    //   z-index: 2;
    //   animation-name: SFpp;
    //   animation-duration: 3s;
    //   -webkit-animation-iteration-count: infinite;
    //   animation-iteration-count: infinite;
    //   -webkit-animation-timing-function: ease-in-out;
    //   animation-timing-function: ease-in-out;

    //   @keyframes SFpp {
    //     0% {
    //       transform: translateY(-30px);
    //     }
    //     50% {
    //       transform: translateY(0px);
    //     }

    //     100% {
    //       transform: translateY(-30px);
    //     }
    //   }
    // }
    // .contenedorImagenesSectionFiveImgThree {
    //   position: absolute;
    //   width: 30%;
    //   top: 0%;
    //   right: 70%;
    //   z-index: 3;
    //   animation-name: iconSFOne;
    //   animation-duration: 5s;
    //   -webkit-animation-iteration-count: infinite;
    //   animation-iteration-count: infinite;
    //   -webkit-animation-timing-function: ease-in-out;
    //   animation-timing-function: ease-in-out;

    //   @keyframes iconSFOne {
    //     0% {
    //       transform: translateX(60px) scale(0.8);
    //     }
    //     50% {
    //       transform: translateY(0px);
    //     }

    //     100% {
    //       transform: translateX(60px) scale(0.8);
    //     }
    //   }
    // }
    // .contenedorImagenesSectionFiveImgFour {
    //   width: 30%;
    //   position: absolute;
    //   bottom: 40%;
    //   left: 70%;
    //   z-index: 4;
    //   animation-name: iconSFTwo;
    //   animation-duration: 5s;
    //   -webkit-animation-iteration-count: infinite;
    //   animation-iteration-count: infinite;
    //   -webkit-animation-timing-function: ease-in-out;
    //   animation-timing-function: ease-in-out;

    //   @keyframes iconSFTwo {
    //     0% {
    //       transform: translateX(60px) scale(0.8);
    //     }
    //     50% {
    //       transform: translateY(0px);
    //     }

    //     100% {
    //       transform: translateX(60px) scale(0.8);
    //     }
    //   }
    // }
    // .contenedorImagenesSectionFiveImgFive {
    //   width: 30%;
    //   position: absolute;
    //   bottom: 10%;
    //   left: -5%;
    //   z-index: 5;
    //   animation-name: iconSFFour;
    //   animation-duration: 5s;
    //   -webkit-animation-iteration-count: infinite;
    //   animation-iteration-count: infinite;
    //   -webkit-animation-timing-function: ease-in-out;
    //   animation-timing-function: ease-in-out;

    //   @keyframes iconSFFour {
    //     0% {
    //       transform: translateX(60px) scale(0.8);
    //     }
    //     50% {
    //       transform: translateY(0px);
    //     }

    //     100% {
    //       transform: translateX(60px) scale(0.8);
    //     }
    //   }
    // }
  }
  .sectionFiveContenedorTextos {
    display: flex;
    flex-direction: column;
    width: 110%;

    h3 {
      font: $subtitulo;
      color: $colorTextoPrincipal;
      margin-bottom: 40px;
    }
    p {
      font: $textoPrincipal;
      color: $colorTextoPrincipal;
      margin-bottom: 40px;
    }
    .btn {
      width: 149px;
      margin: 0;
      height: 56px;
    }
  }
}
